include partials/header.pug

.container
	h1.title.big.text-white :(

	h1.title.text-white Your file is not soported

	h3.title.text-white Only you can upload: 	
		span.text-blue jpeg, png, jpg, and gif 
		span files... 