include partials/header

.container
	h1.title.text-white Upload an image
	form(action="/save" method="POST" autocomplete="off" enctype="multipart/form-data") 
		.group
			b.text-white Title
			input(type="text" placeholder="title for image" name="title")
		.group
			b.text-white Description
			textarea(placeholder="Description for you image" name="description")
		.group
			b.text-white File
			input(type="file" name="image" id="choose_file")
			label(for="choose_file").file Choose file
			b.text-blue

		button(type="submit") Upload

script(src="js/form_valide.js")